* {
  box-sizing: border-box;
}

body {
  background: whitesmoke;
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 0 50px 50px 0;
  position: fixed;
  top: 0;
  left: -140px;
  background-color: teal;
  font-size: 1.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: whitesmoke;
  font-size: 1.5em;
  transition: all 350ms linear;
  cursor: pointer;
}

i {
  font-size: 50px;
  margin-left: 10px;
}

header:hover {
  left: 0px;
}

button {
  font-size: 8vmin;
  background: transparent;
  border: solid 1px #444;
  color: white;
}

.touch-active {
  background: rgba(255, 255, 255, 0.3); /* Lightens the button during touch */
}

/* Optionally style hover effect */
button[disabled]:active {
  background: transparent;
}

#history {
  height: 36vh;
  background-color: #555;
  width: 100%;
  outline: none;
  border: none;
  font-size: 6vmin;
  font-weight: bold;
  padding: 15px;
  caret-color: #09ddc1;
  color: whitesmoke;
  overflow-y: auto;
  display: grid;
}

.history-item {
  display: inline-block;
  margin-right: 10px;
  width: 35%;
  height: 5vh;
  text-align: right;
}

#historyList li .history-item:first-of-type {
  display: inline-block;
  margin-right: 10px;
  width: 25%;
  text-align: right;
}

.delete {
  margin-left: 20px;
  margin-top: 0px !important;
  width: 5%;
  text-align: center;
  font-size: 90%;
  color: coral;
  user-select: none;
}

.delete:active {
  color: red;
}

#total {
  height: 5vh;
  background-color: #555;
  width: 100%;
  outline: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  /* justify-content:space-between; */
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  caret-color: #09ddc1;
  color: #aaa;
}

#total-label {
  width: 15%;
}

#piece {
  width: 30%;
  text-align: right;
}

#volume {
  width: 55%;
  text-align: right;
}

#display {
  background-color: #444;
  height: 12vh;
  width: 100%;
  outline: none;
  border: none;
  text-align: center;
  font-size: 12vmin;
  padding: 15px;
  caret-color: #09ddc1;
  color: whitesmoke;
}

#display::-webkit-inner-spin-button,
#display::-webkit-inner-spin-button {
  appearance: none;
}

#keypad {
  height: 47vh;
  background-color: #333;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.equal {
  grid-row: span 2;
  grid-column: span 1;
}

.equal,
.clear {
  color: rgb(1, 133, 116);
}

.Special {
  background-color: #018574;
}

.Special:active {
  background-color: rgb(92, 199, 185, 0.8);
}

.rpad {
  padding-right: 20px;
}

.disable-dbl-tap-zoom {
  touch-action: manipulation;
}

@media only screen and (max-width: 700px) {
  .github-logo {
    display: none !important;
  }
}
